/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 0 0 10px #6a11cb;
    color: #6a11cb;;
    border-radius: 5px;
}

#emailList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    box-shadow: 0 0 10px #6a11cb;
    border-radius: 5px;
}

.emailSingle {
    flex-basis: 50%;
    padding: 1rem;
    font-size: 1.5rem;
}

#button {
    padding: 12px 24px;
    color: #fff;
    background: #6a11cb;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #6a11cb;
    transition: 0.3s;
    cursor: pointer;
}

#button:hover {
    box-shadow: 0 0 30px #6a11cb, 0 0 20px blue;
    transform: translateY(-2px);
    transition: 0.3s;
}

#button:active {
    transform: translateY(2px);
}